/* HEADER */
.pageheader {
    width: 60%;
    margin: 0 auto;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.cartheader {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow:
        0px 20px 48px -12px rgba(0, 0, 0, 0.5),
        0px 1px 0.5px 0px rgba(255, 255, 255, 0.45) inset;
}

/* DROPDOWN WRAPPER */
.dropdownwrapper {
    position: relative;
}

/* BUTTONS */
.userlogin {
    display: flex;
    align-items: center;
}

.iconbtn,
.useravatar {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #fff;
    background: rgba(255, 255, 255, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.08);
}

.avatardropdown {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 18px;
    color: #fff;
}

.useravatar {
    font-size: 14px;
    font-weight: 700;
}

/* DROPDOWN */
.dropdownmenu {
    cursor: pointer;
    position: absolute;
    top: 58px;
    right: 0;
    min-width: 190px;
    padding: 10px;
    border-radius: 18px;
    background: rgba(15, 23, 42, 0.7);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow:
        0 20px 40px rgba(0, 0, 0, 0.35);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: 0.3s ease;
}

/* SHOW DROPDOWN */
.dropdownwrapper:hover .dropdownmenu {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

/* MENU ITEMS */
.dropdownmenu p {
    padding: 12px 14px;
    border-radius: 12px;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
    transition: 0.25s ease;
}

.dropdownmenu p:hover {
    background: rgba(255, 255, 255, 0.08);
}

/* SESSION BADGE */
.sessionbadge {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}

.sessionbadge .indicator {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: orange;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }
}

.sessionbadge p {
    color: rgba(127, 127, 127, 1);
}

.sessionbadge span {
    color: #fff;
    font-size: 14px;
}

/* LOGO */
.shoplogo {
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 1px;
    color: #fff;
    display: flex;
    align-items: center;
    gap: 10px;
}

.shoplogo span {
    color: orange;
}

/* HEADER RIGHT */
.headerright {
    display: flex;
    align-items: center;
    gap: 12px;
}

.iconbtn svg {
    width: 22px;
    height: 22px;
    color: #fff;
    cursor: pointer;
}

.useravatar {
    border-radius: 50%;
    background: linear-gradient(135deg, #ff3c3c, #ff8c00);
}

/* header end */
/* footer page */
.pagefooter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.glassnavbar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    /* border-radius: 999px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(20px);
    box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.12),
        0 0 40px rgba(255, 255, 255, 0.05);
    overflow-x: auto; */

}


.navitem {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 5px 30px;
    border-radius: 999px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s ease;
    white-space: nowrap;
    position: relative;
}

.gradient-border-bottom::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #ff6a00, #ee0979);
}

.navitem:hover {
    background: rgba(255, 255, 255, 0.06);
    color: #fff;
}

.navactive {
    color: #fff;
    /* background:
        linear-gradient(135deg,
            rgba(255, 80, 80, 0.35),
            rgba(255, 0, 80, 0.12)); */
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.08); */
    border-bottom: 1px solid;

    border-image-source: linear-gradient(22.93deg, #FE7B00 27.28%, #F7302F 66.92%);
    /* box-shadow:
        inset 0 1px 1px rgba(255, 255, 255, 0.15),
        0 0 25px rgba(255, 0, 80, 0.18); */
}

.navitem svg {
    font-size: 16px;
}

/* footerend */
/* SHOP PAGE */
.ShopContainer {
    width: 75%;
    margin: 0 auto;
    padding-top: 90px;
    /* height: 90vh; */
    display: flex;
    flex-direction: column;
    /* overflow: hidden; */
}

/* PANEL */
.cartpannel {
    flex: 1;
    display: flex;
    gap: 1rem;
    min-height: 0;
}

/* LEFT SIDE */
.cartleft {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    padding-right: 10px;
}

.cartleft::-webkit-scrollbar {
    width: 0;
}

/* RIGHT SIDE */
.cartright {
    width: 25%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 0;
}

/* WALLET CARD */
.cartright .walletcard {
    padding: 1.2rem;
    border-radius: 24px;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #fff;
}

.cartright .walletcard * {
    padding-bottom: 0.5rem;
}

.cartright .walletcard .wallettitle {
    font-size: 16px;
}

.cartright .walletcard .walletamount {
    font-size: 34px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.cartright .walletcard .walletsubtitle {
    font-size: 12px;
    color: rgba(107, 107, 120, 1);
}

.cartright .walletcard .walletadd {
    width: 100%;
    padding: 12px 0;
    border-radius: 18px;
    border: 1px solid rgba(255, 72, 72, 0.35);
    background: rgba(255, 255, 255, 0.03);
    color: #ff5252;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    cursor: pointer;
    transition: 0.3s;
}

.cartright .walletcard .walletadd:hover {
    background: rgba(255, 255, 255, 0.08);
}

/* CART CARD */
.cartright .cartcard {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    border-radius: 24px;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.06);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.08);
    color: #fff;
    display: flex;
    flex-direction: column;
}

.cartright .cartcard .carttop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.cartright .cartcard .carttop .cratheading {
    font-size: 16px;
}

.cartright .cartcard .carttop .cartquantity {
    font-size: 12px;
    color: rgba(107, 107, 120, 1);
}

/* CART ITEM */
.cartright .cartcard .cartlistitem {
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.cartright .cartcard .cartlistitem .cartlistitemleft {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.cartright .cartcard .cartlistitem .cartlistimg img {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: cover;
}

.cartright .cartcard .cartlistitem .cartlistname p {
    display: flex;
    align-items: center;
    color: rgba(245, 185, 66, 1);
}

/* QUANTITY */
.cartright .cartcard .cartlistitem .listquantity {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cartright .cartcard .cartlistitem .listquantity span {
    height: max-content;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    line-height: 9px;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    box-shadow:
        0px 1px 0px 1px rgba(255, 255, 255, 0.04) inset;
}

/* CHECKOUT */
.cartright .cartcard .cartcheckout {
    margin-top: auto;
}

.cartright .cartcard .cartcheckout .totalcost {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.cartright .cartcard .cartcheckout button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    background: rgba(232, 54, 78, 1);
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}

/* scrollbar */
.glassyscrollbar::-webkit-scrollbar {
    width: 8px;
}

.glassyscrollbar::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 20px;
}

.glassyscrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.18);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.08);
    box-shadow:
        0px 1px 2px rgba(255, 255, 255, 0.08) inset,
        0px 4px 12px rgba(0, 0, 0, 0.2);
}

.glassyscrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.28);
}